<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户新增</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.all.js"></script>
</head>
<body>
<form class="layui-form" action="/user/add" method="post">
    <div class="layui-form-item">
        <div class="layui-inline interval">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" name="username" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="password" name="password" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" name="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" name="mail" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="nan" title="用户" checked>
                <input type="radio" name="type" value="nv" title="员工" >
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
</form>
</body>
<script>
    var form;
    layui.use(['element','jquery','form'], function(){
        var element = layui.element;
        var $ = layui.$
        form = layui.form;
    });
    (function () {
        form.render();
    })();
</script>
<style>
    .interval{
        margin-top: 20px;
    }
</style>
</html>