<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yf.manage.mapper.GoodsMapper">
    <insert id="insertGoods" useGeneratedKeys="true" keyProperty="id" parameterType="org.yf.common.entity.Goods">
      insert into
        goods
      values (null,#{goodsName},#{goodsType},#{status},#{goodsNum},#{goodsPrice},#{goodsTally},#{insertTime},#{goodsTitle},#{goodsDesc})
    </insert>

    <select id="queryGoods" resultType="org.yf.common.entity.Goods">
        select
          *
        from
          goods a
        <where>
            <if test="goods.goodsType != null and goods.goodsType!= ''">
                and a.goods_type = #{goods.goodsType}
            </if>
            <if test="goods.goodsName != null and goods.goodsName!= ''">
                and a.goods_name = #{goods.goodsName}
            </if>
            <if test="goods.goodsNum != null and goods.goodsNum!= ''">
                and a.goods_num = #{goods.goodsNum}
            </if>
            <if test="goods.goodsPrice != null and goods.goodsPrice!= ''">
                and a.goods_price = #{goods.goodsPrice}
            </if>
            <if test="goods.goodsTally != null and goods.goodsTally!= ''">
                and a.goods_tally = #{goods.goodsTally}
            </if>
        </where>
        order by insert_time desc
    </select>
</mapper>
